NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=game-images
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5YW1mdnZneHdvcHF0aXpybHdkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQwNDY3OCwiZXhwIjoyMDkxOTgwNjc4fQ.GhWQbCCaa_LnssMAkEFKvGWok8-zBV9nvUCfmTQ7kBM
NEXT_PUBLIC_APP_URL=http://localhost:3000
PARTICIPANT_COOKIE_SECRET=
MAX_UPLOAD_SIZE_MB=5
